/* Copyright ItsErikSquared 2019 - https://itserik.dev/README.md  */
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono&display=swap');

@keyframes fade {
  0% {opacity: 1;}
  100% {
    opacity: 0;
    display: none;
  }
}

.container {
  padding: 0em 3em
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Lato', sans-serif;
}

#fade-overlay {
  pointer-events: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  fill: white;
  z-index: 2;
  animation: fade 0.5s forwards 1s;
}

#icons {
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 100%;
}

.icon {
  font-size: 2em;
  transition: 0.5s;
  color: gray;
  padding: 5px;
  animation-name: fade;
  animation-duration: 1.75s;
  animation-fill-mode: forwards;
  animation-direction: reverse;
  opacity: 0;
}

.icon:hover {
  color:black;
}

.icon:nth-child(1) { animation-delay: 4s; }
.icon:nth-child(2) { animation-delay: 4.1s; }
.icon:nth-child(3) { animation-delay: 4.2s; }
.icon:nth-child(4) { animation-delay: 4.3s; }
.icon:nth-child(5) { animation-delay: 4.4s; }
.icon:nth-child(6) { animation-delay: 4.5s; }

#copyright {
  position: absolute;
  bottom: 2px;
  text-align: center;
  width: 100%;
  opacity: 0;
  animation: fade 0.5s reverse 4.6s forwards;
}

#copyright a {
  color: gray;
  text-decoration: none;
  transition: 0.5s;
}

#copyright a:hover {
  color: rgba(0,0,0,0.1)
}

#quicklinks {
  text-align:center;
}

a.button {
  text-decoration: none;
  font-size: 2em;
  font-family: 'Ubuntu Mono', monospace;
  border-radius: 12px;
  border: 2px solid gray;
  transition: 0.1s;
  color: gray;
  margin: 0.5em;
  padding: 1px
}

.button:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}