ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
}

li {
  float: left;
}

li img {
  width: 45px;
  padding-top: 3px;
  padding-left: 5px;
  vertical-align: middle;
  float: left;
}

li a:not(.image) {
  display: block;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  transition: 0.5s;
  text-decoration: none;
}

li a:hover:not(.image) {
  background-color: rgba(0,0,0,0.1);
}

li a.active {
  background-color: rgba(0,0,0,0.1);
}

li a.active:hover {
  background-color: rgba(0,0,0,0.2);
}